html{
    font-family: "comfortaa", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #1c1c1c;
}
header{
    background-image: url(../Profile/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    border: solid 2px #8591c8;
    overflow: hidden;
}
.title{
    font-size: 200%;
    color: orangered;
    background-color: #1c1c1c;
    align-self: center;
    border-radius: 30px;
    padding: 10px;
}
#index{
    text-decoration: none;
    background-color: #1c1c1c;
    border-radius: 15px;
    padding: initial 5px;
}
.webPages{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin: 0;
    padding: 0 5%;
    overflow: hidden;
    background-color: rgba(82, 83, 83, 0.425);
    backdrop-filter: blur(10px);
}
.principal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.programmind{
    font-family: Tahoma;
    color: #2beaccfd;
    border-radius: 30px;
    text-align: center;
    padding: 10px;
    background-color: #1c1c1c;
    align-self: center;
}
#mind{
    color: purple;
}
.otherPages{
    font-size: 100%;
    align-self: center;
    color: rgb(216, 68, 216);
    text-decoration: underline;
    margin-bottom: 2px;
    margin: 1%;
    padding: 8px;
    border: none;
    background: none;
}
p{
    background-color: black;
    color: #8591c8;
    padding: 15px;
    line-height: 20px;
    border-radius: 20px;
}
.question{
    color: orangered;
    font-size: 1.1rem;
    background-color: #4f66ca91;
    padding: 2px;
    border-radius: 5px;
}