:root{
    --background: #1c1c1c;
    --h-color: orangered;
    --section-color: #111;
    --text-color: #8591c8;
    --h-color-2: #4f65ca;
    --a-color: #cc33cc;
    --a-color-hover: #fa3efa;
    --news-color: #8591c8;
    --news-border-color: #4f65ca;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "comfortaa", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html{
    background-color: var(--background);
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    background-color: #383838;
    width: 5px;
    height: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #4f65ca;
    border-radius: 5px;
}

#mode{
    position: fixed;
    width: 35px;
    bottom: 10px;
    right: 10px;
}

/*HTML elements*/
h1, h2{
    color: var(--h-color);
    text-align: center;
}
h3{
    color: var(--h-color-2);
}
section, aside{
    background-color: var(--section-color);
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
    line-height: 1.25rem;
    text-align: justify;
    overflow: hidden;
}

p{
    color: var(--text-color);
    margin: 10px 0;
}

ul{
    list-style-position: inside;
    margin: 5px;
    padding: 8px;
    border-radius: 8px;
    background-color: var(--background);
    color: var(--text-color);
}

li{
    padding: inherit;
}

button{
    font-family: "comfortaa";
    background-color: #2bbeea;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    color: #1c1c1c;
}

button:hover{
    background-color: #2beaccdf;
    color: black;
}
button:active{
    background-color: inherit;
    color: #0084ff;
}

a{
    text-decoration: none;
    color: var(--a-color);
}
a:hover{
    color: var(--a-color-hover);
}

.aButton{
    background-color: #383838;
    padding: 8px 12px;
    border-radius: 12px;
    margin-left: 30%;
}
.aButton:hover{
    background-color: #2c2c2c;
}

form{
    width: 90%;
    margin: 5px;
    padding: 8px;
    border-radius: 8px;
}

label{
    color: #111111;
    font-weight: 900;
}

button, input {
    margin: 5px;
}

input{
    background-color: var(--background);
    border: solid 2px #2c2c2c;
    border-radius: 8px;
    padding: 8px;
    align-self: center;
    color: var(--text-color)
}

input::-webkit-input-placeholder{
    color: var(--h-color);
}

input:focus{
    border: 2px solid #474747;
    outline: none;
}

fieldset{
    border: none;
}

/*Header*/
header{
    position: sticky;
    top: 0;
}
#header{
    z-index: 1;
    display: flex;
    position: sticky;
    top: 0;
    background-color: #383838c2;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 2px;
    border-radius: 5px;
    margin: 8px;
}

#programmind{
    height: 60px;
    width: 180px;
    cursor: pointer;
}

section #programmind{
    display: block;
    margin: 0 auto;
    cursor: default;
}

#programmindHidden{
    left: 10px;
    top: 45px;
}

.menu{
    display: none;
    font-size: 1.2rem;
    background-color: transparent;
    color: var(--news-color);
    border: none;
    padding: 5px;
}

.menu:hover{
    color: var(--news-color);
}

.navList{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5;
    margin: 0;
}

li.navLink{
    list-style: none;
    padding: 5px;
    color: var(--a-color);
    cursor: pointer;
}

.navLink:hover{
    color: var(--a-color-hover);
    background-color: var(--section-color);
    border-radius: 5px;
}

.hidden{
    display: none;
    opacity: 0;
    visibility: hidden;
}

.webPage:hover{
    background-color: #0000007c;
    padding: 5px;
    border-radius: 5px;
}

.visible{
    display: block;
    position: absolute;
    visibility: visible;
    opacity: 1;
    border: solid 2px #2f2f2f;
    border-top: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
ul.visible{
    background-color: var(--background);
}

.socialMediaImg{
    display: inline;
    width: 35px;
    height: 35px;
    background-color: #444444;
    padding: 5px;
    border-radius: 25%;
}
.socialMediaImg:hover{
    border: solid 2px #909dd8;
}

li.noStyle{
    list-style: none;
}

/*main page*/
.divided{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
}
.divided .postDiv{
    display: grid;
    align-content: flex-start;
    justify-items: center;
}

/*Update notes*/
.updateNotes{
    color: var(--h-color-2);
}

/*future Changes*/
.futureChanges{
    color: var(--news-color);
    border-bottom: 2px solid var(--news-border-color);
    margin-left: 8%;
    text-align: left;
}

/*About pages*/
#profilePic{
    width: 30%;
    max-width: 150px;
    min-width: 100px;
    border-radius: 25%;
    float: left;
    margin: 5px;
    margin-bottom: 0px;
    border: solid 2px #2c2c2c;
}

#profileResume{
    background-color: var(--background);
    padding: 15px;
    border-radius: 15px;
    border: solid 2px #4f65ca;
}

#profileResume h1{
    color: #2beaccdf;
    line-height: 30px;
}

#profileResume p{
    color: #f6f6f8;
    background-color: var(--background);
    padding: 8px;
    border-radius: 25px;
}

.grid{
    display: grid;
    grid-template-columns: minmax(8rem, 30%) 1fr;
    column-gap: 5px;
}

.grid div{
    background-color: var(--background);
    border-radius: 5px;
    padding: 5px;
}

#mySocialMedia{
    border: none;
    background-color: var(--background);
    border-radius: 10px;
}

#mySocialMedia h1{
    color: #4f65ca;
}

.verdana{
    font-family: Verdana, Tahoma;
}

.right{
    float: right;
}

/*blog´s and proyectos´s elements, .post at the end*/
.post:hover{
    border: 2px solid #2bbeeadf;
}

.post > h3{
    color: purple;
}

.post:hover h3{
    color: #cc33cc;
}

.post >p{
    text-align: left;
    color: yellow;
}

.post:hover p{
    color: #ffbb00;
}

.post p, .post h3{
    background-color: #1c1c1ce0;
    padding: 5px;
}

.post:hover p, .post:hover h3{
    background-color: #1c1c1cef;
}

.moreContent{
    display: block;
    margin: 0 auto;
    padding: 5px 8px;
    position: relative;
    font-size: 150%;
    text-align: center;
    color: purple;
    rotate: 90deg;
    background-color: #1c1c1c;
    border-radius: 15px;
    width: 45px;
    height: 75px;
    bottom: 45px;
    border: solid 2px #4f65ca;
}
.moreContent:hover{
    background-color: #2f2f2f;
    color: purple;
    border-color: #0084ff;
}

.withText{
    float: left;
    margin-right: 5px;
}

.postDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    background-color: var(--background);
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}

/*Elements from the page práctica*/
.programQuestions{
    border: none;
    padding: 10px 0;
}

.programmingLanguage{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #1c1c1c;
    margin: 5px auto;
    padding: 15px;
    border-radius: 15px;
    width: 75%;
}

.programmingLanguage  img{
    width: 35px;
    border-radius: 15%;
    margin: auto 0;
}

.codeContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--section-color);
    padding: 15px;
    gap: 10px;
}

.codeQuestion{
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    padding: 10px;
    border-radius: 10px;
    color: var(--text-color);
    align-items: center;
    width: 30%;
    min-width: 250px;
}

.codeQuestion h3{
    color: var(--h-color);
}

.javascript{
    background-color: yellow;
    accent-color: #111;
    color: #111;
}

button.javascript{
    background-color: #111;
    color: yellow;
}
button.javascript:hover{
    background-color: yellow;
    color: #111;
}
button.javascript:active{
    color: #ffc400;
}

/*ELements from blogPost*/
.subtitle{
    color: var(--h-color-2);
    text-decoration: underline;
    text-decoration-color: orangered;
    text-align: left;
    background-color: var(--background);
    padding: 8px;
    padding-left: 15px;
    border-radius: 15px;
}

/*Elements from proyectos*/
.chronometer{
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    justify-content: space-evenly;
    row-gap: 10px;
}
.buttonsConsole{
    display: flex;
    justify-content: space-around;
}

.time{
    background-color: var(--background);
    border-radius: 15px;
}

.time h2{
    border: solid 2px var(--purple-border);
    border-radius: 15px 15px 0 0;
    color: #2beaccdf;
    padding: 15px;
}

#min, #sec, #msc{
    padding-top: 8px;
    border: solid 2px #383838;
    border-top: none;
    border-radius: 0 0 15px 15px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.proyect{
    background-color: var(--background);
    padding: 5px;
    border-radius: 5px;
    margin: 20px 10px;
}

.proyect h2{
    padding: 5px 20px;
    text-align: left;
}

.GitHubLink{
    position: relative;
    top: 7px;
    margin-left: 25px;
    padding: 8px 20px;
    background-color: var(--section-color);
    border-radius: 20px;
    border: solid 2px var(--news-border-color);
    color: #cc33cc;
}

/*Media Query for mobile devices*/
@media (max-width: 550px){
    header{
        align-items: center;
        padding: 0 5px;
    }

    #programmind{
        margin-right: 25%;
    }

    #programmindHidden{
        left: 45%;
    }

    #navbar{
        opacity: 0;
        visibility: hidden;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: #191919;
        padding: 5px;
        width: 50%;
        box-shadow: 0 0 0 100vmax #0000007c;
    }

    #navbar.visible{
        visibility: visible;
        opacity: 1;
        border: none;
    }

    .navList{
        flex-direction: column;
        align-items: start;
    }

    .navLink:hover{
        background-color: #383838;
    }

    .menu{
        display: inline;
    }

    .menu:hover{
        background-color: #383838;
        border-radius: 5px;
    }

    #open:hover{
        background-color: #191919;
    }

    .menu:active{
        background-color: black;
        color: #909dd8;
    }

    .post{
        width: 180px;
    }

    .divided{
        grid-template-columns: 1fr;
    }
}

.post{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 25%;
    min-width: 180px;
    overflow: hidden;
    border-radius: 20px;
    border: solid 2px #2f2f2f;
    text-align: center;
    cursor: pointer;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    aspect-ratio: 1;
}