html{
    font-family: "comfortaa", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #1c1c1c;
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(https://i.imgur.com/udu4V57.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    padding: 40px;
    justify-content: center;
    border: solid 2px #8591c8;
}
div{
    justify-content: center;
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
    background-color: black;
    border: solid 5px #333333;
    border-radius: 25px;
}
h1{
    color: orangered;
    text-align: center;
    padding: 10px;
    margin: 10px 40px 5px;
    background-color: #8591c8;
    border: solid 2px #333333;
    border-radius: 25px;
}
h2{
    color: #2beaccfd;
    text-align: center;
}
h3{
    color: orangered;
}
p{
    text-align: justify;
    background-color: #333333;
    padding: 15px;
    margin: 10px;
    color: #8591c8;
    border-radius: 15px;
}
li{
    color: #8591c8;
    padding: 5px;
    margin: 10px;
    background-color: #333333;
    border-radius: 15px;
}
a{
    color: #8591c8;
}
img{
    position: relative;
    width: 50%;
    left: 25%;
    border: solid 8px #8591c8;
    border-radius: 30px;
    margin: 10px;
}
.alertEmoji{
    color: #8591c8;
}
.section{
    background: none;
    border: none;
}
.notasDeActualización{
    font-family: monospace;
}
.codeExample{
    display: block;
    font-family: monospace;
    color: whitesmoke;
    background-color: black;
    border-radius: 0;
    border: solid 1px #333333;
    margin: 10px;
    padding: 3px;
}
.post{
    border-color: #8591c8;
}
#blogContent{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: none;
    border: none;
}
#logo{
    display: flex;
    flex-grow: 0;
    align-items: center;
    font-size: 200%;
    color: #383838;
    padding: 15px;
    margin: 3px;
    background-color: #2beaccfd;
    border: solid orangered 2px;
    border-radius: 40px;
}
#program{
    color: purple;
}