:root{
    --background: #1c1c1c;
    --h-color: orangered;
    --section-color: #111111;
    --text-color: #8591c8;
    --h2-color: #4f65ca;
    --a-color: #cc33cc;
    --a-color-hover: #fa3efa;
    --purple-border: #4b134b;
    --news-color: #8591c8;
    --news-border-color: #4f65ca;
    --aside-color: purple;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "comfortaa", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html{
    background-color: var(--background);
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    background-color: #383838;
    width: 5px;
    height: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #4f65ca;
    border-radius: 5px;
}

/*HTML elements*/
h1, h2{
    color: var(--h-color);
    text-align: center;
}

section, aside{
    background-color: var(--section-color);
    padding: 15px;
    margin: 10px;
    border: dotted 2px orangered;
    border-radius: 15px;
    line-height: 1.25rem;
    text-align: justify;
}

p{
    color: var(--text-color);
    margin: 10px 0;
}

ul{
    list-style-position: inside;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--background);
    color: var(--text-color);
}

li{
    padding: inherit;
}

button{
    font-family: "comfortaa";
    background-color: #2beaccdf;
    border: none;
    padding: 5px 8px;
    border-radius: 8px;
    color: var(--purple-border);
}

a{
    text-decoration: none;
    color: var(--a-color);
}

form{
    width: 90%;
    margin: 5px;
    padding: 8px;
    border-radius: 8px;
}

label{
    color: #111111;
    font-weight: 900;
}

button, input {
    margin: 5px;
}

input{
    background-color: var(--background);
    border: none;
    border-radius: 8px;
    padding: 8px;
    align-self: center;
    color: var(--text-color)
}

input::-webkit-input-placeholder{
    color: var(--h-color);
}

input:focus{
    border: 2px solid #383838;
    outline: none;
}

fieldset{
    border: none;
}

/*Header*/
header{
    display: flex;
    position: sticky;
    top: 0;
    background-color: #383838c2;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 2px;
    border-radius: 5px;
    margin: 8px;
}

#programmind{
    height: 60px;
    width: 180px;
}

section #programmind{
    display: block;
    margin: 0 auto;
}

#programmindHidden{
    left: 10px;
    top: 45px;
}

.menu{
    display: none;
    font-size: 1.2rem;
    background-color: transparent;
    color:var(--text-color);
    border: none;
    padding: 5px;
}

.navList{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5;
    margin: 0;
}

li.navLink{
    list-style: none;
    padding: 5px;
    color: var(--a-color);
    cursor: pointer;
}

.navLink:hover{
    color: var(--a-color-hover);
    background-color: var(--section-color);
    border-radius: 5px;
}

.hidden{
    display: none;
    opacity: 0;
    visibility: hidden;
}

.visible{
    display: block;
    position: absolute;
    visibility: visible;
    opacity: 1;
}

.socialMediaImg{
    display: inline;
    max-width: 25px;
    aspect-ratio: 1;
}

li.noStyle{
    list-style: none;
}

/*future Changes*/
.futureChanges{
    color: var(--news-color);
    border-bottom: 2px solid var(--news-border-color);
    margin-left: 8%;
    text-align: left;
}

/*blog´s and proyectos´s elements, .post at the end*/
.post > h3{
    color: purple;
}

.post >p{
    text-align: left;
    color: yellow;
}

.post p, .post h3{
    background-color: #1c1c1ce0;
    padding: 5px;
}

.moreContent{
    display: block;
    margin: 0 auto;
    position: relative;
    font-size: 150%;
    text-align: center;
    rotate: 90deg;
    background-color: #1c1c1c;
    border-radius: 15px;
    width: 45px;
    height: 75px;
    bottom: 45px;
    border: solid 2px #4f65ca;
}

.postDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    background-color: var(--background);
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}

/*Elements from the page práctica*/
.programQuestions{
    border: none;
    padding: 10px 0;
}

.programmingLanguage{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #1c1c1c;
    margin: 5px auto;
    padding: 15px;
    border-radius: 15px;
    width: 75%;
}

.programmingLanguage  img{
    width: 35px;
    border-radius: 15%;
    margin: auto 0;
}

.codeContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--section-color);
    padding: 15px;
    gap: 10px;
}

.codeQuestion{
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    padding: 10px;
    border-radius: 10px;
    color: var(--text-color);
    align-items: center;
    width: 30%;
    min-width: 250px;
}

.codeQuestion h3{
    color: var(--h-color);
}

.javascript{
    background-color: yellow;
    accent-color: #111;
    color: #111;
}

/*ELements from blogPost*/
.subtitle{
    color: var(--h2-color);
    text-decoration: underline;
    text-decoration-color: orangered;
    text-align: left;
    background-color: var(--background);
    padding: 8px;
    padding-left: 15px;
    border-radius: 15px;
}

/*Elements from proyectos*/
.chronometer{
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    justify-content: space-evenly;
    row-gap: 10px;
}
.buttonsConsole{
    display: flex;
    justify-content: space-around;
}

.time{
    background-color: var(--background);
    border-radius: 15px;
}

.time h2{
    border: solid 2px var(--purple-border);
    border-radius: 15px 15px 0 0;
    color: #2beaccdf;
    padding: 15px;
}

#min, #sec, #msc{
    padding-top: 8px;
    border: solid 2px #383838;
    border-top: none;
    border-radius: 0 0 15px 15px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/*Media Query for mobile devices*/
@media (max-width: 550px){
    header{
        align-items: center;
        padding: 0 5px;
    }

    #programmind{
        margin-right: 25%;
    }

    #programmindHidden{
        left: 45%;
    }

    #navbar{
        opacity: 0;
        visibility: hidden;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: #191919;
        padding: 5px;
        width: 50%;
        box-shadow: 0 0 0 100vmax #0000007c;
    }

    #navbar.visible{
        visibility: visible;
        opacity: 1;
    }

    .navList{
        flex-direction: column;
        align-items: start;
    }

    .navLink:hover{
        background-color: #383838;
    }

    .menu{
        display: inline;
    }

    .menu:hover{
        background-color: #383838;
        border-radius: 5px;
    }

    #open:hover{
        background-color: #191919;
    }

    .menu:active{
        background-color: black;
        color: #909dd8;
    }

    .post{
        width: 180px;
    }
}

.post{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 25%;
    min-width: 180px;
    overflow: hidden;
    color: purple;
    border-radius: 20px;
    border: solid 2px #2f2f2f;
    text-align: center;
    cursor: pointer;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    aspect-ratio: 1;
};