html{
    font-family: "comfortaa", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #1c1c1c;
}
header{
    background-image: url(../../Profile/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    border: solid 2px #8591c8;
    overflow: hidden;
}
.title{
    font-size: 200%;
    color: orangered;
    background-color: #1c1c1c;
    align-self: center;
    border-radius: 30px;
    padding: 10px;
}
.webPages{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin: 0;
    padding: 0 5%;
    overflow: hidden;
    background-color: rgba(82, 83, 83, 0.425);
    backdrop-filter: blur(10px);
}
.principal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.programmind{
    font-family: Tahoma;
    color: #2beaccfd;
    border-radius: 30px;
    text-align: center;
    padding: 10px;
    background-color: #1c1c1c;
    align-self: center;
}
#mind{
    color: purple;
}
h1{
    font-size: 250%;
}
h1:not(.programmind), h2 {
    color: #2beaccfd;
    text-align: center;
    background-color: #1c1c1c;
    border-radius: 30px 30px 0 0;
    border: solid purple 3px;
    padding: 10px;
    margin: 0;
}
#index{
    text-decoration: none;
    background-color: #1c1c1c;
    border-radius: 15px;
    padding: initial 5px;
}
p{
    color: #8591c8;
    text-align: justify;
    background-color: black;
    padding: 10px;
    border-radius: 20px;
}
div:not(.principal, .no-style){
    display: flex;
    flex-wrap: wrap;
    border: solid 3px orangered;
    border-radius: 50px;
    background-color: black;
    padding: 15px;
    justify-content: space-evenly;
}
h2{
    font-size: 125%;
    min-width: 100px;
}
div [class= "no-style"]{
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.otherPages{
    font-size: 100%;
    align-self: center;
    color: rgb(216, 68, 216);
    text-decoration: underline;
    margin-bottom: 2px;
    margin: 1%;
    padding: 8px;
    border: none;
    background: none;
}
button{
    font-family: "comfortaa", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #2beaccfd;
    background-color: #1c1c1c;
    border-color: #8591c8;
    border-width: 3px;
    border-radius: 15px;
    padding: 8px;
    align-self: center;
}
#min, #sec, #msec{
    border-top: none;
    border-radius: 0 0 30px 30px;
    border-color: #383838;
}
.buttonsConsole{
    display: flex;
    justify-content: space-between;
    padding: 15px 25%;
    border-color: #2beaccfd;
    background-color: black;
}